.pokeCard {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 15% 85%;
}
.pokeName {
    color: crimson;
    font-size: 2.5rem;
    border-bottom: 3px turquoise dotted;
    margin-bottom: 0px;
}
.pokeInfo {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1%;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.pokeInfoCard {
    background: whitesmoke;
    border: 2px lightgray solid;
    border-radius: 5%;
    overflow: hidden;
}
/* 
.pokeStats {
    background: whitesmoke;
    border: 1px lightgray solid;
    border-radius: 5%;
}
.pokeDescription {
    background: whitesmoke;
    border: 1px lightgray solid;
    border-radius: 5%;
} */