header {
    background-color: crimson;
    color: white;
    text-align: center;
    grid-row-start: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: center;
}

header h1 {
    font-size: 4rem;
}