table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
}
.pokeStats {
    width: 100%;
}
.statsHeader {
    margin: 0;
    padding: 15px;
    background-color: crimson;
    color: whitesmoke;
}
.pokeStats tr {
    height: 75px;
    line-height: 75px;
    font-size: 2rem;
}
.pokeStats tr:nth-child(odd) {
    background-color: rgba(220, 20, 60, 0.596);
    color: white;
}
/* .pokeStats tr:nth-child(even) {
    background-color: paleturquoise;
    color: white;
} */